<header>
  <div class="logo">DAILYSOS</div>
  <input type="text" class="search" placeholder='Search'>
  <div class="btns">
    <a href="/following">Following</a>
    <a href="/following">Followers</a>
    <a href="/timeline" class='selected'>Victokr (<span class="points">300</span>)
      <div class="menu"></div>
    </a>
  </div>
</header>