header
  a.logo(href="/timeline") DAILYSOS
  input.search(type="text", placeholder="Search")
  .btns
    a(href="/following") Following
    a(href="/following") Followers
    a.selected(href="/settings")
      | Victokr (
      span.points 300
      | )
      .menu
