<!doctype html>
<html>
<head>
<title>Handlebars demo</title> </head>
<link href="./styles/hello.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
{{{body}}}
</body>
</html>