extends ./layouts/main.pug
block body
	body#following
		include partials/header.pug
		.fluid-container
			.list
				.headers
					.imp Importance
					.count
						| Following
						span.num 245
					input.search(type="text", placeholder="Search")
				.persons
					.person
						.importance_num 1
						a.imgLink(href="/profile/adam")
							img.avatar(src="https://randomuser.me/api/portraits/men/11.jpg")
						a.info(href="/profile/adam")
							.name
								span.first Adam
								span
								span.last  Nagato
							.followers
								span.num 94355
								span
								|  followers
						.btn.unfollow unfollow
					.person
						.importance_num 2
						img.avatar(src="https://randomuser.me/api/portraits/women/12.jpg")
						a.info(href="/profile/jennifer")
							.name
								span.first Jennifer
								span
								span.last  Doe
							.followers
								span.num 94355
								span
								|  followers
						.btn.unfollow unfollow
					.person
						.importance_num 3
						img.avatar(src="https://randomuser.me/api/portraits/women/87.jpg")
						a.info(href="/profile/alexis")
							.name
								span.first Alexis
								span
								span.last  Johnson
							.followers
								span.num 94355
								span
								|  followers
						.btn.unfollow unfollow
