extends ./layouts/main.pug
block body
	body#public_profile
		include partials/header.pug
		.fluid-container
			.left
				img.img(src="https://randomuser.me/api/portraits/women/12.jpg", alt="")
				.personName
					span.first Jennifer
					span
					span.last Doe
				.country
					| lives in
					span.name USA
				a.follow.btn(href="#")
					| Follow
				.followers
					span.num 90,000
					|  follower
				.desc I am interested in travel and web development.
			.right
				div
					.sort_by
						a(href="#" class="btn trending") Trending
						a(href="#" class="btn recet selected") Recent
						a(href="#" class="btn month") Month
						a(href="#" class="btn year") Year
						a(href="#" class="btn all") All
					.links_sect
						.headline
							.txt Today
							.line
						.links
							a.link(href="/links/33838")
								.total_score 2590
								.title
									span.txt How to cook chicken soup
									|  |
									span.url https://wikihow.com/how-to-cook-chicken-soup…
								.reach
									span.num 30
									| % Reach
								.score 58
							a.link(href="/links/33838")
								.total_score 2590
								.title
									span.txt How to cook chicken soup
									|  |
									span.url https://wikihow.com/how-to-cook-chicken-soup…
								.reach
									span.num 30
									| % Reach
								.score 58
							a.link(href="/links/33838")
								.total_score 2590
								.title
									span.txt How to cook chicken soup
									|  |
									span.url https://wikihow.com/how-to-cook-chicken-soup…
								.reach
									span.num 30
									| % Reach
								.score 58
							a.link(href="/links/33838")
								.total_score 2590
								.title
									span.txt How to cook chicken soup
									|  |
									span.url https://wikihow.com/how-to-cook-chicken-soup…
								.reach
									span.num 30
									| % Reach
								.score 58
						.headline
							.txt October 13
							.line
						.links
							a.link(href="/links/33838")
								.total_score 2590
								.title
									span.txt How to cook chicken soup
									|  |
									span.url https://wikihow.com/how-to-cook-chicken-soup…
								.reach
									span.num 30
									| % Reach
								.score 58
							a.link(href="/links/33838")
								.total_score 2590
								.title
									span.txt How to cook chicken soup
									|  |
									span.url https://wikihow.com/how-to-cook-chicken-soup…
								.reach
									span.num 30
									| % Reach
								.score 58
							a.link(href="/links/33838")
								.total_score 2590
								.title
									span.txt How to cook chicken soup
									|  |
									span.url https://wikihow.com/how-to-cook-chicken-soup…
								.reach
									span.num 30
									| % Reach
								.score 58
							a.link(href="/links/33838")
								.total_score 2590
								.title
									span.txt How to cook chicken soup
									|  |
									span.url https://wikihow.com/how-to-cook-chicken-soup…
								.reach
									span.num 30
									| % Reach
								.score 58
