extends ./layouts/main.pug
block style
  link(rel="stylesheet", href="css/homepage.css")
block body
  body#register
    .hero_sect
        a.logo(href="/") DAILYSOS
        .content
            form(action="/register" method="POST")
                input(type="email" placeholder='Email' name='email')
                input(type="password" placeholder='Password' name='password')
                input(type="password" placeholder='Retype Password' name='retype_password')
                
                input(type="text" placeholder='First Name' name='firstName')
                input(type="text" placeholder='Last Name' name='lastName')
                input(type="text" placeholder='Describe yourself' name='about')
                select(name='country')
                    option(value="uk") United Kingdom
                    option(value="usa") United States
                    option(value="canada") Canada
                
                label.tos
                    input(type="checkbox" name='over18')
                    | I'm at least 18 and Agree to TOS.

                input(type="submit" value="Register")
            a.btn-register(href="/login") Sign In

        .social-login
            h3 Quickly Login with these instead
            .btns
                a.btn.fb(href="#") Facebook
                a.btn.google(href="#") Google
                a.btn.reddit(href="#") Reddit
                a.btn.github(href="#") Github
            