extends ./layouts/main.pug
block body
    body#timeline
        include partials/header.pug
        .container
            form.post_box
                textarea(name="", id="", cols="30", rows="10")
                input.post_btn.blue_btn(type="submit", value="Post")
            .links_sect
                .headline
                    .txt Today
                    .line
                .links
                    a.link(href="/links/33838")
                        .total_score 2590
                        .title
                            span.txt How to cook chicken soup
                            |  | 
                            span.url https://wikihow.com/how-to-cook-chicken-soup…
                        .reach
                            span.num 30
                            | % Reach
                        .score 58
                    a.link(href="/links/33838")
                        .total_score 2590
                        .title
                            span.txt How to cook chicken soup
                            |  | 
                            span.url https://wikihow.com/how-to-cook-chicken-soup…
                        .reach
                            span.num 30
                            | % Reach
                        .score 58
                    a.link(href="/links/33838")
                        .total_score 2590
                        .title
                            span.txt How to cook chicken soup
                            |  | 
                            span.url https://wikihow.com/how-to-cook-chicken-soup…
                        .reach
                            span.num 30
                            | % Reach
                        .score 58
                    a.link(href="/links/33838")
                        .total_score 2590
                        .title
                            span.txt How to cook chicken soup
                            |  | 
                            span.url https://wikihow.com/how-to-cook-chicken-soup…
                        .reach
                            span.num 30
                            | % Reach
                        .score 58
                .headline
                    .txt October 13
                    .line
                .links
                    a.link(href="/links/33838")
                        .total_score 2590
                        .title
                            span.txt How to cook chicken soup
                            |  | 
                            span.url https://wikihow.com/how-to-cook-chicken-soup…
                        .reach
                            span.num 30
                            | % Reach
                        .score 58
                    a.link(href="/links/33838")
                        .total_score 2590
                        .title
                            span.txt How to cook chicken soup
                            |  | 
                            span.url https://wikihow.com/how-to-cook-chicken-soup…
                        .reach
                            span.num 30
                            | % Reach
                        .score 58
                    a.link(href="/links/33838")
                        .total_score 2590
                        .title
                            span.txt How to cook chicken soup
                            |  | 
                            span.url https://wikihow.com/how-to-cook-chicken-soup…
                        .reach
                            span.num 30
                            | % Reach
                        .score 58
                    a.link(href="/links/33838")
                        .total_score 2590
                        .title
                            span.txt How to cook chicken soup
                            |  | 
                            span.url https://wikihow.com/how-to-cook-chicken-soup…
                        .reach
                            span.num 30
                            | % Reach
                        .score 58
