<style>
    * {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.content {
  max-width: 1000px;
  margin: auto;
}
.blue_btn {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #3e5fd2;
  border-radius: 4px;
  padding: 12px 30px;
  text-align: center;
  min-width: 108px;
  font-size: 16px;
  box-sizing: border-box;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
.blue_btn:hover {
  transform: translateY(-2px);
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.16);
}
header {
  position: absolute;
  min-width: 100%;
  font-size: 14px;
  color: #fff;
  background-color: rgba(62, 95, 210, 0.92);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 22px;
  font-weight: 500;
  margin-left: 26px;
}
header .nav {
  display: flex;
}
header .nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 24px 26px;
}
header .nav a:hover {
  background-color: #172761;
}
.hero_sect {
  background-image: url(https://images.unsplash.com/photo-1488120299791-f9241bdf10c9?dpr=1&auto=compress,format&fit=crop&w=1638&h=&q=80&cs=tinysrgb&crop=);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 52px 76px;
  box-sizing: border-box;
  max-height: 810px;
  padding-top: 116px;
}
.hero_sect .tag {
  font-size: 14px;
  color: #fff;
  padding: 15px 21px;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.58);
  display: inline-block;
  font-weight: 300;
  margin-bottom: 24px;
}
.hero_sect .box {
  display: flex;
  justify-content: space-between;
  max-width: 830px;
  margin-bottom: 80px;
}
.hero_sect .left {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 7px;
  width: 444px;
}
.hero_sect .left .tag_line {
  color: #3e5fd2;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero_sect .left h1 {
  font-size: 35px;
  font-weight: 400;
  color: #333;
  margin-bottom: 35px;
  line-height: 48px;
}
.hero_sect .left p {
  color: #6B6D91;
  line-height: 28px;
  max-width: 342px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 50px;
}
.hero_sect .left .white_btn {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #3e5fd2;
  border-radius: 4px;
  padding: 12px 30px;
  text-align: center;
  min-width: 108px;
  font-size: 16px;
  box-sizing: border-box;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-left: 18px;
  background-color: #fff;
  color: #3e5fd2;
}
.hero_sect .left .white_btn:hover {
  transform: translateY(-2px);
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.16);
}
.hero_sect .right {
  margin-top: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.33);
  height: 396px;
  padding-left: 23.5px;
  padding-top: 21px;
  box-sizing: border-box;
  min-width: 237px;
}
.hero_sect .right .text {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #fff;
}
.hero_sect .right .text.forty {
  opacity: .4;
}
.hero_sect .right .text.fifty {
  opacity: .5;
}
.hero_sect .right .text.sixty {
  opacity: .6;
}
.hero_sect .right .text.seventy {
  opacity: .7;
}
.hero_sect .right .text.eighty {
  opacity: .8;
}
.hero_sect .right .text.ninety {
  opacity: .9;
}
.features {
  margin-top: 80px;
}
.features .content {
  text-align: center;
}
.features h2 {
  font-size: 29px;
  color: #3e5fd2;
}
.features p.desc {
  margin-top: 24px;
  margin-bottom: 31px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: #3e5fd2;
  max-width: 695px;
  font-weight: 300;
  line-height: 26px;
}
.features img.importance {
  margin-top: -5px;
  margin-bottom: 100px;
  max-width: 511px;
  margin-left: auto;
  margin-right: auto;
}
.features .nintyk {
  font-size: 60px;
  text-align: center;
  color: #C1C1C1;
  margin-top: 38px;
  margin-bottom: 86px;
}
.ready_start {
  background-color: #3e5fd2;
  padding: 58px 76px;
}
.ready_start .content {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}
.ready_start h2 {
  color: #fff;
  font-weight: 300;
}
.ready_start .btn {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #3e5fd2;
  border-radius: 4px;
  padding: 12px 30px;
  text-align: center;
  min-width: 108px;
  font-size: 16px;
  box-sizing: border-box;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #fff;
  color: #3e5fd2;
  padding: 16px 65px;
  font-weight: 700;
}
.ready_start .btn:hover {
  transform: translateY(-2px);
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.16);
}
.footer {
  background-color: #292C77;
}
.footer a {
  padding: 23px 26px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  font-weight: 100;
  letter-spacing: 1.4px;
}

</style>

<header>
  <div class="logo">
    DAILYSOS
  </div>
  <div class="nav">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </div>
</header>
<div class="hero_sect">
  <div class="content">
    <div class="tag">
      YOUR INFORMATION DIET BUDDY
    </div>
    <div class="box">
      <div class="left">
        <div class="tag_line">GET ONLY THE BEST</div>
        <h1>Daily Email With Only Content You Need</h1>
        <p>Information overload is a real problem and you’ve got only so many hours in a day. Why not spend them at best content. DailySOS allows you to prioritize, limit and select source of your content.</p>
        <a href="/register" class="blue_btn">TRY IT</a>
        <a href="#" class="white_btn">SEE VIDEO</a>
      </div>
      <div class="right">
        <div class='text seventy'>Emails (54)</div>
        <div class='text eighty'>Youtube Feed (32)</div>
        <div class='text ninety'>Tweets (24)</div>
        <div class='text'>Newsletters (21)</div>
        <div class='text ninety'>Facebook Timeline (21)</div>
        <div class='text eighty'>Reddit Posts (28)</div>
        <div class='text seventy'>Quora Questions (16)</div>
        <div class='text sixty'>Yahoo News (19)</div>
        <div class='text fifty'>Google Assistant (14)</div>
        <div class='text forty'>Slack Messages (7)</div>
      </div>
    </div>
  </div>
</div>
<div class="features">
  <div class="content">
    <h2>Assign Importance to Your Sources</h2>
    <p class="desc">Our algorithim takes into account importance you have assigned to every person you are following. So people who you care about what they have to say are given front seat to your daily email.</p>
    <img src="https://image.ibb.co/m1Pf6G/group.png" alt="importance feature" class="importance">
    <h2>Become Authority to Your Followers</h2>
    <p class="desc">Email is still the best way to get message to people with DAILYSOS you can reach your loyal followers non-intrusively. It’s a best way to gain trust and get your name out there.</p>
    <div class="nintyk">90,000 followers</div>

  </div>

</div>

<div class="ready_start">
  <div class="content">
      <h2>Ready to get started?</h2>
  <a href="/register" class="btn">Let's Go</a>
  </div>
</div>
<div class="footer">
  <a href="#">FAQs</a>
  <a href="#">About Us</a>
  <a href="#">Privacy and Terms</a>
  <a href="#">Contact Us</a>
</div>

