<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color", content="#ed1c24")
        // html5 version of http-equiv="Content-Type"...
        meta(name="description", content="The best and free tool tool to sort, search, and organize Reddit\'s saved items.")
        meta(name="keywords", content="redddit manager sort items search saved posts organize posts redditmanager")
        //
            <link rel="author" href="https://plus.google.com/{{googlePlusId}}" />
            <link rel="canonical" href="{{pageUrl}}" />
        // facebook
        meta(property="og:url", content="https://redditmanager.com/")
        meta(property="og:image", content="https://redditmanager.com/img/favicon.ico")
        meta(property="og:description", content="The best and free tool tool to sort, search, and organize Reddit\'s saved items.")
        meta(property="og:title", content="RedditManager | Saved items by Subreddits, Searh, and Delete")
        meta(property="og:see_also", content="https://redditmanager.com/faqs")
        // twitter
        meta(name="twitter:card", content="summary")
        meta(name="twitter:url", content="https://redditmanager.com/")
        meta(name="twitter:title", content="RedditManager | Saved items by Subreddits, Searh, and Delete")
        meta(name="twitter:description", content="The best and free tool tool to sort, search, and organize Reddit\'s saved items.")
        meta(name="twitter:image", content="https://redditmanager.com/img/favicon.ico")
        
        link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
        link(rel="icon", href="/img/favicon.ico", type="image/x-icon", sizes="20x20")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
        //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        block style
            link(rel="stylesheet", href="/css/main.css")
        title DailySOS
        block head

    block body


